<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>statuses</key>
	<array>
		<dict>
			<key>attitudes_count</key>
			<integer>1</integer>
			<key>comments_count</key>
			<integer>0</integer>
			<key>created_at</key>
			<string>2分钟前</string>
			<key>idstr</key>
			<string>3767069277027517</string>
			<key>pic_urls</key>
			<array>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://ww2.sinaimg.cn/thumbnail/642beb18gw1elff1ahteoj20c80bat9a.jpg</string>
				</dict>
			</array>
			<key>reposts_count</key>
			<integer>0</integer>
			<key>source</key>
			<string>来自微博 weibo.com</string>
			<key>text</key>
			<string>自称身高1米6的女孩，百分之百都是1米58；但是自称175的女生通常都不止175。自称170的男孩，百分之百都是168，介绍人称170的男孩，百分之百168都不到！[拜拜]</string>
			<key>user</key>
			<dict>
				<key>idstr</key>
				<string>1680599832</string>
				<key>mbrank</key>
				<integer>6</integer>
				<key>mbtype</key>
				<integer>12</integer>
				<key>name</key>
				<string>搞笑大百科</string>
				<key>profile_image_url</key>
				<string>http://tp1.sinaimg.cn/1680599832/50/40021338240/0</string>
				<key>verified_type</key>
				<integer>-1</integer>
				<key>vip</key>
				<integer>1</integer>
			</dict>
		</dict>
		<dict>
			<key>attitudes_count</key>
			<integer>0</integer>
			<key>comments_count</key>
			<integer>0</integer>
			<key>created_at</key>
			<string>2分钟前</string>
			<key>idstr</key>
			<string>3767069189106490</string>
			<key>pic_urls</key>
			<array>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://ww3.sinaimg.cn/thumbnail/6797d866jw1elff0q2hk1j20b406idga.jpg</string>
				</dict>
			</array>
			<key>reposts_count</key>
			<integer>0</integer>
			<key>source</key>
			<string>来自微博 weibo.com</string>
			<key>text</key>
			<string>【新郑饭店用郑州盐被罚 官方：跨区域用盐】黄先生在河南新郑开了家面馆，几天前，因用了从郑州带回的食盐，被新郑市盐业管理局认定“跨区域用盐”，没收部分食盐并罚款200元。当地官员称，对盐区域性管理，是为保障吃上放心盐，严格说，带食盐回异地家中吃也是违法的。（央广网）http://t.cn/R74xT3Z</string>
			<key>user</key>
			<dict>
				<key>idstr</key>
				<string>1738004582</string>
				<key>mbrank</key>
				<integer>0</integer>
				<key>mbtype</key>
				<integer>0</integer>
				<key>name</key>
				<string>燕赵都市报</string>
				<key>profile_image_url</key>
				<string>http://tp3.sinaimg.cn/1738004582/50/22845170776/1</string>
				<key>verified_type</key>
				<integer>3</integer>
				<key>vip</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>attitudes_count</key>
			<integer>0</integer>
			<key>comments_count</key>
			<integer>0</integer>
			<key>created_at</key>
			<string>2分钟前</string>
			<key>idstr</key>
			<string>3767069176521424</string>
			<key>pic_urls</key>
			<array>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://ww1.sinaimg.cn/thumbnail/6797d866jw1elff11z76cj20fk07840p.jpg</string>
				</dict>
			</array>
			<key>reposts_count</key>
			<integer>0</integer>
			<key>source</key>
			<string>来自微博 weibo.com</string>
			<key>text</key>
			<string>#永昌冲超#即时比分：武汉卓尔0-1深圳红钻、沈阳中泽2-0延边泉阳泉、青岛中能1-0天津松江、新疆0-0石家庄</string>
			<key>user</key>
			<dict>
				<key>idstr</key>
				<string>1738004582</string>
				<key>mbrank</key>
				<integer>0</integer>
				<key>mbtype</key>
				<integer>0</integer>
				<key>name</key>
				<string>燕赵都市报</string>
				<key>profile_image_url</key>
				<string>http://tp3.sinaimg.cn/1738004582/50/22845170776/1</string>
				<key>verified_type</key>
				<integer>3</integer>
				<key>vip</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>attitudes_count</key>
			<integer>29</integer>
			<key>comments_count</key>
			<integer>2</integer>
			<key>created_at</key>
			<string>3分钟前</string>
			<key>idstr</key>
			<string>3767069021869283</string>
			<key>pic_urls</key>
			<array/>
			<key>reposts_count</key>
			<integer>10</integer>
			<key>retweeted_status</key>
			<dict>
				<key>attitudes_count</key>
				<integer>681</integer>
				<key>comments_count</key>
				<integer>76</integer>
				<key>created_at</key>
				<string>昨天 21:03</string>
				<key>idstr</key>
				<string>3766768276909193</string>
				<key>pic_urls</key>
				<array>
					<dict>
						<key>thumbnail_pic</key>
						<string>http://ww1.sinaimg.cn/thumbnail/8eda1a63tw1eleggzylwyj205k05kq2z.jpg</string>
					</dict>
				</array>
				<key>reposts_count</key>
				<integer>643</integer>
				<key>source</key>
				<string>来自微博 weibo.com</string>
				<key>text</key>
				<string>在大学，比秀恩爱更让人牙痒痒的是秀家近。。[拜拜]</string>
				<key>user</key>
				<dict>
					<key>idstr</key>
					<string>2396658275</string>
					<key>mbrank</key>
					<integer>6</integer>
					<key>mbtype</key>
					<integer>12</integer>
					<key>name</key>
					<string>趣闻搞笑</string>
					<key>profile_image_url</key>
					<string>http://tp4.sinaimg.cn/2396658275/50/5665483006/1</string>
					<key>verified_type</key>
					<integer>-1</integer>
					<key>vip</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>source</key>
			<string>来自微博 weibo.com</string>
			<key>text</key>
			<string>转发微博</string>
			<key>user</key>
			<dict>
				<key>idstr</key>
				<string>2396658275</string>
				<key>mbrank</key>
				<integer>6</integer>
				<key>mbtype</key>
				<integer>12</integer>
				<key>name</key>
				<string>趣闻搞笑</string>
				<key>profile_image_url</key>
				<string>http://tp4.sinaimg.cn/2396658275/50/5665483006/1</string>
				<key>verified_type</key>
				<integer>-1</integer>
				<key>vip</key>
				<integer>1</integer>
			</dict>
		</dict>
		<dict>
			<key>attitudes_count</key>
			<integer>1</integer>
			<key>comments_count</key>
			<integer>0</integer>
			<key>created_at</key>
			<string>3分钟前</string>
			<key>idstr</key>
			<string>3767069012763777</string>
			<key>pic_urls</key>
			<array>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://ww4.sinaimg.cn/thumbnail/9e00b862jw1elff0f3vzsj20c81z2kb9.jpg</string>
				</dict>
			</array>
			<key>reposts_count</key>
			<integer>0</integer>
			<key>source</key>
			<string>来自孔明社交管理</string>
			<key>text</key>
			<string>去超市这样买东西，我保证收银员不会把你们打死。。。。</string>
			<key>user</key>
			<dict>
				<key>idstr</key>
				<string>2650847330</string>
				<key>mbrank</key>
				<integer>6</integer>
				<key>mbtype</key>
				<integer>12</integer>
				<key>name</key>
				<string>冷笑话图文</string>
				<key>profile_image_url</key>
				<string>http://tp3.sinaimg.cn/2650847330/50/5696992871/0</string>
				<key>verified_type</key>
				<integer>-1</integer>
				<key>vip</key>
				<integer>1</integer>
			</dict>
		</dict>
		<dict>
			<key>attitudes_count</key>
			<integer>2</integer>
			<key>comments_count</key>
			<integer>1</integer>
			<key>created_at</key>
			<string>3分钟前</string>
			<key>idstr</key>
			<string>3767069000890450</string>
			<key>pic_urls</key>
			<array/>
			<key>reposts_count</key>
			<integer>1</integer>
			<key>retweeted_status</key>
			<dict>
				<key>attitudes_count</key>
				<integer>219</integer>
				<key>comments_count</key>
				<integer>10</integer>
				<key>created_at</key>
				<string>2小时前</string>
				<key>idstr</key>
				<string>3767039246610843</string>
				<key>pic_urls</key>
				<array>
					<dict>
						<key>thumbnail_pic</key>
						<string>http://ww3.sinaimg.cn/thumbnail/c1016504jw1elfblc9yqzg205f077b29.gif</string>
					</dict>
				</array>
				<key>reposts_count</key>
				<integer>160</integer>
				<key>source</key>
				<string>来自皮皮时光机</string>
				<key>text</key>
				<string>英国女王伊丽莎白二世从8岁到85岁在货币上面的容颜变化.。。。</string>
				<key>user</key>
				<dict>
					<key>idstr</key>
					<string>3238094084</string>
					<key>mbrank</key>
					<integer>1</integer>
					<key>mbtype</key>
					<integer>2</integer>
					<key>name</key>
					<string>热门搞笑总排行</string>
					<key>profile_image_url</key>
					<string>http://tp1.sinaimg.cn/3238094084/50/22883952798/0</string>
					<key>verified_type</key>
					<integer>200</integer>
					<key>vip</key>
					<integer>0</integer>
				</dict>
			</dict>
			<key>source</key>
			<string>来自微博 weibo.com</string>
			<key>text</key>
			<string>转发微博</string>
			<key>user</key>
			<dict>
				<key>idstr</key>
				<string>3238094084</string>
				<key>mbrank</key>
				<integer>1</integer>
				<key>mbtype</key>
				<integer>2</integer>
				<key>name</key>
				<string>热门搞笑总排行</string>
				<key>profile_image_url</key>
				<string>http://tp1.sinaimg.cn/3238094084/50/22883952798/0</string>
				<key>verified_type</key>
				<integer>200</integer>
				<key>vip</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>attitudes_count</key>
			<integer>4</integer>
			<key>comments_count</key>
			<integer>1</integer>
			<key>created_at</key>
			<string>3分钟前</string>
			<key>idstr</key>
			<string>3767069000179805</string>
			<key>pic_urls</key>
			<array>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://ww1.sinaimg.cn/thumbnail/c3ad47bejw1elff0df7pkj20c80n3myy.jpg</string>
				</dict>
			</array>
			<key>reposts_count</key>
			<integer>4</integer>
			<key>source</key>
			<string>来自孔明社交管理</string>
			<key>text</key>
			<string>150的男生，你需要一张颠倒众生的脸，160的男人，你需要一张灿若星辰的脸，170的男生，你需要一张眉清目秀的脸，180的男生你只需要一张五官端正的脸，190的男生只要不是太跑偏，至于200的男生，你可以不要脸。。。[哈哈]</string>
			<key>user</key>
			<dict>
				<key>idstr</key>
				<string>3282913214</string>
				<key>mbrank</key>
				<integer>5</integer>
				<key>mbtype</key>
				<integer>12</integer>
				<key>name</key>
				<string>搞笑趣事汇</string>
				<key>profile_image_url</key>
				<string>http://tp3.sinaimg.cn/3282913214/50/40067622621/1</string>
				<key>verified_type</key>
				<integer>-1</integer>
				<key>vip</key>
				<integer>1</integer>
			</dict>
		</dict>
		<dict>
			<key>attitudes_count</key>
			<integer>3</integer>
			<key>comments_count</key>
			<integer>0</integer>
			<key>created_at</key>
			<string>3分钟前</string>
			<key>idstr</key>
			<string>3767068924842314</string>
			<key>pic_urls</key>
			<array>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://ww4.sinaimg.cn/thumbnail/585c04e2jw1elf9gl4cxoj20c80960t7.jpg</string>
				</dict>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://ww2.sinaimg.cn/thumbnail/585c04e2jw1elf9glbzb4j20c80gawfp.jpg</string>
				</dict>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://ww4.sinaimg.cn/thumbnail/585c04e2jw1elf9glu73rj20c80gaq44.jpg</string>
				</dict>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://ww4.sinaimg.cn/thumbnail/585c04e2jw1elf9gls5zoj20c80gadgu.jpg</string>
				</dict>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://ww4.sinaimg.cn/thumbnail/585c04e2jw1elf9glzy36j20c8096t9d.jpg</string>
				</dict>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://ww3.sinaimg.cn/thumbnail/585c04e2jw1elf9gm7lvjj20c80gawfg.jpg</string>
				</dict>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://ww2.sinaimg.cn/thumbnail/585c04e2jw1elf9gmi037j20c80lggmu.jpg</string>
				</dict>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://ww2.sinaimg.cn/thumbnail/585c04e2jw1elf9gmz1ryj20c80gaq3z.jpg</string>
				</dict>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://ww1.sinaimg.cn/thumbnail/585c04e2jw1elf9gn9o3vj20c8096gm8.jpg</string>
				</dict>
			</array>
			<key>reposts_count</key>
			<integer>2</integer>
			<key>source</key>
			<string>来自微博 weibo.com</string>
			<key>text</key>
			<string>某一中的运动会，群魔乱舞啊哈哈哈哈哈哈哈哈卧槽！最后葫芦娃如此与时俱进看得我也是醉了！！！[哈哈][哈哈][哈哈]</string>
			<key>user</key>
			<dict>
				<key>idstr</key>
				<string>1482425570</string>
				<key>mbrank</key>
				<integer>6</integer>
				<key>mbtype</key>
				<integer>12</integer>
				<key>name</key>
				<string>轻松搞笑连连看</string>
				<key>profile_image_url</key>
				<string>http://tp3.sinaimg.cn/1482425570/50/22851191042/1</string>
				<key>verified_type</key>
				<integer>-1</integer>
				<key>vip</key>
				<integer>1</integer>
			</dict>
		</dict>
		<dict>
			<key>attitudes_count</key>
			<integer>5</integer>
			<key>comments_count</key>
			<integer>9</integer>
			<key>created_at</key>
			<string>3分钟前</string>
			<key>idstr</key>
			<string>3767068912578369</string>
			<key>pic_urls</key>
			<array>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://ww1.sinaimg.cn/thumbnail/9745048ajw1elferl1gyuj20iy0q6tc0.jpg</string>
				</dict>
			</array>
			<key>reposts_count</key>
			<integer>0</integer>
			<key>source</key>
			<string>来自三星Galaxy NOTE III</string>
			<key>text</key>
			<string>面淘大概是昨天吧变成四冠了，我都不知道说啥好了，一路走来回想当年云云。。。。文笔不行。谢谢支持。没有微博，没有你，哪有我。</string>
			<key>user</key>
			<dict>
				<key>idstr</key>
				<string>2537882762</string>
				<key>mbrank</key>
				<integer>6</integer>
				<key>mbtype</key>
				<integer>12</integer>
				<key>name</key>
				<string>面相与命运</string>
				<key>profile_image_url</key>
				<string>http://tp3.sinaimg.cn/2537882762/50/40051541732/1</string>
				<key>verified_type</key>
				<integer>0</integer>
				<key>vip</key>
				<integer>1</integer>
			</dict>
		</dict>
		<dict>
			<key>attitudes_count</key>
			<integer>9</integer>
			<key>comments_count</key>
			<integer>1</integer>
			<key>created_at</key>
			<string>4分钟前</string>
			<key>idstr</key>
			<string>3767068790892306</string>
			<key>pic_urls</key>
			<array/>
			<key>reposts_count</key>
			<integer>19</integer>
			<key>retweeted_status</key>
			<dict>
				<key>attitudes_count</key>
				<integer>1865</integer>
				<key>comments_count</key>
				<integer>587</integer>
				<key>created_at</key>
				<string>1小时前</string>
				<key>idstr</key>
				<string>3767046820665331</string>
				<key>pic_urls</key>
				<array>
					<dict>
						<key>thumbnail_pic</key>
						<string>http://ww2.sinaimg.cn/thumbnail/c0679ecagw1elfcgjpn9zg206o08wnpf.gif</string>
					</dict>
				</array>
				<key>reposts_count</key>
				<integer>3243</integer>
				<key>source</key>
				<string>来自微博 weibo.com</string>
				<key>text</key>
				<string>基情少年神级演绎经典爱情故事之商场版泰坦尼克号！简直毫无违和感！</string>
				<key>user</key>
				<dict>
					<key>idstr</key>
					<string>3228016330</string>
					<key>mbrank</key>
					<integer>5</integer>
					<key>mbtype</key>
					<integer>12</integer>
					<key>name</key>
					<string>内涵大婊哥</string>
					<key>profile_image_url</key>
					<string>http://tp3.sinaimg.cn/3228016330/50/40063685372/1</string>
					<key>verified_type</key>
					<integer>220</integer>
					<key>vip</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>source</key>
			<string>来自微博 weibo.com</string>
			<key>text</key>
			<string>哈哈哈//@神回复吐槽帝: 哈哈哈哈哈//@这微博笑死我了: 蛇精病哈哈哈哈哈哈//@大脑切片: 哈哈哈哈哈 //@二逼青年这样过:哈哈哈//@正常人办不出这种事儿: 哈哈哈哈哈哈有病！</string>
			<key>user</key>
			<dict>
				<key>idstr</key>
				<string>1893769523</string>
				<key>mbrank</key>
				<integer>6</integer>
				<key>mbtype</key>
				<integer>12</integer>
				<key>name</key>
				<string>幽默搞笑大王</string>
				<key>profile_image_url</key>
				<string>http://tp4.sinaimg.cn/1893769523/50/5683554519/0</string>
				<key>verified_type</key>
				<integer>220</integer>
				<key>vip</key>
				<integer>1</integer>
			</dict>
		</dict>
		<dict>
			<key>attitudes_count</key>
			<integer>2</integer>
			<key>comments_count</key>
			<integer>1</integer>
			<key>created_at</key>
			<string>4分钟前</string>
			<key>idstr</key>
			<string>3767068639866436</string>
			<key>pic_urls</key>
			<array>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://ww2.sinaimg.cn/thumbnail/9be2329dgw1elfda90becg209w05k7wk.gif</string>
				</dict>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://ww2.sinaimg.cn/thumbnail/9be2329dgw1elfda9zwp5g209w05kkjn.gif</string>
				</dict>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://ww1.sinaimg.cn/thumbnail/9be2329dgw1elfdaccf22g209w05kkjn.gif</string>
				</dict>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://ww4.sinaimg.cn/thumbnail/9be2329dgw1elfdaf2dlbg209w05k1l0.gif</string>
				</dict>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://ww3.sinaimg.cn/thumbnail/9be2329dgw1elfdaho1yhg209w05k7wk.gif</string>
				</dict>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://ww3.sinaimg.cn/thumbnail/9be2329dgw1elfdak6bcmg209w05kx6r.gif</string>
				</dict>
			</array>
			<key>reposts_count</key>
			<integer>2</integer>
			<key>source</key>
			<string>来自微博 weibo.com</string>
			<key>text</key>
			<string>熊猫萌宝和它的帅奶爸！[花心]奶爸给一小团子喂药，另一团子立马上前“帮忙”，面对两个小团子的纠缠，奶爸有些招架不住[偷笑]， 带这两个磨人的小妖精，奶爸快要崩溃惹～大家快点来帮忙吧[嘻嘻]！</string>
			<key>user</key>
			<dict>
				<key>idstr</key>
				<string>2615292573</string>
				<key>mbrank</key>
				<integer>6</integer>
				<key>mbtype</key>
				<integer>12</integer>
				<key>name</key>
				<string>幽默搞笑家</string>
				<key>profile_image_url</key>
				<string>http://tp2.sinaimg.cn/2615292573/50/40048199418/1</string>
				<key>verified_type</key>
				<integer>-1</integer>
				<key>vip</key>
				<integer>1</integer>
			</dict>
		</dict>
		<dict>
			<key>attitudes_count</key>
			<integer>28</integer>
			<key>comments_count</key>
			<integer>1</integer>
			<key>created_at</key>
			<string>5分钟前</string>
			<key>idstr</key>
			<string>3767068568960154</string>
			<key>pic_urls</key>
			<array/>
			<key>reposts_count</key>
			<integer>21</integer>
			<key>retweeted_status</key>
			<dict>
				<key>attitudes_count</key>
				<integer>875</integer>
				<key>comments_count</key>
				<integer>45</integer>
				<key>created_at</key>
				<string>16小时前</string>
				<key>idstr</key>
				<string>3766817123886091</string>
				<key>pic_urls</key>
				<array>
					<dict>
						<key>thumbnail_pic</key>
						<string>http://ww4.sinaimg.cn/thumbnail/8eda1a63tw1elem2xf9rig206y06ye82.gif</string>
					</dict>
				</array>
				<key>reposts_count</key>
				<integer>736</integer>
				<key>source</key>
				<string>来自微博 weibo.com</string>
				<key>text</key>
				<string>超好看大波浪，只要一根发带就可以搞定了，新技能 get√ [噢耶]</string>
				<key>user</key>
				<dict>
					<key>idstr</key>
					<string>2396658275</string>
					<key>mbrank</key>
					<integer>6</integer>
					<key>mbtype</key>
					<integer>12</integer>
					<key>name</key>
					<string>趣闻搞笑</string>
					<key>profile_image_url</key>
					<string>http://tp4.sinaimg.cn/2396658275/50/5665483006/1</string>
					<key>verified_type</key>
					<integer>-1</integer>
					<key>vip</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>source</key>
			<string>来自微博 weibo.com</string>
			<key>text</key>
			<string>转发微博</string>
			<key>user</key>
			<dict>
				<key>idstr</key>
				<string>2396658275</string>
				<key>mbrank</key>
				<integer>6</integer>
				<key>mbtype</key>
				<integer>12</integer>
				<key>name</key>
				<string>趣闻搞笑</string>
				<key>profile_image_url</key>
				<string>http://tp4.sinaimg.cn/2396658275/50/5665483006/1</string>
				<key>verified_type</key>
				<integer>-1</integer>
				<key>vip</key>
				<integer>1</integer>
			</dict>
		</dict>
		<dict>
			<key>attitudes_count</key>
			<integer>7</integer>
			<key>comments_count</key>
			<integer>1</integer>
			<key>created_at</key>
			<string>5分钟前</string>
			<key>idstr</key>
			<string>3767068543574943</string>
			<key>pic_urls</key>
			<array/>
			<key>reposts_count</key>
			<integer>1</integer>
			<key>retweeted_status</key>
			<dict>
				<key>attitudes_count</key>
				<integer>152</integer>
				<key>comments_count</key>
				<integer>6</integer>
				<key>created_at</key>
				<string>1小时前</string>
				<key>idstr</key>
				<string>3767054383632725</string>
				<key>pic_urls</key>
				<array>
					<dict>
						<key>thumbnail_pic</key>
						<string>http://ww4.sinaimg.cn/thumbnail/c1016504jw1elfdbovtfwj20c206c3yl.jpg</string>
					</dict>
					<dict>
						<key>thumbnail_pic</key>
						<string>http://ww2.sinaimg.cn/thumbnail/c1016504jw1elfdbq55z6j20c806xmx8.jpg</string>
					</dict>
					<dict>
						<key>thumbnail_pic</key>
						<string>http://ww1.sinaimg.cn/thumbnail/c1016504jw1elfdbrkcbpj20c704h74e.jpg</string>
					</dict>
					<dict>
						<key>thumbnail_pic</key>
						<string>http://ww1.sinaimg.cn/thumbnail/c1016504jw1elfdbsjbnpj20c604jt8v.jpg</string>
					</dict>
					<dict>
						<key>thumbnail_pic</key>
						<string>http://ww2.sinaimg.cn/thumbnail/c1016504jw1elfdbtl7cuj20c205ot8r.jpg</string>
					</dict>
					<dict>
						<key>thumbnail_pic</key>
						<string>http://ww1.sinaimg.cn/thumbnail/c1016504jw1elfdbujge4j20c202ygll.jpg</string>
					</dict>
					<dict>
						<key>thumbnail_pic</key>
						<string>http://ww2.sinaimg.cn/thumbnail/c1016504jw1elfdbvshc1j20c305tq2x.jpg</string>
					</dict>
					<dict>
						<key>thumbnail_pic</key>
						<string>http://ww2.sinaimg.cn/thumbnail/c1016504jw1elfdbwulv6j20c406pq30.jpg</string>
					</dict>
					<dict>
						<key>thumbnail_pic</key>
						<string>http://ww2.sinaimg.cn/thumbnail/c1016504jw1elfdbxprvej20c505i74d.jpg</string>
					</dict>
				</array>
				<key>reposts_count</key>
				<integer>152</integer>
				<key>source</key>
				<string>来自皮皮时光机</string>
				<key>text</key>
				<string>少见的姓氏遇到高冷的父母就孕育出了这些奇葩的名字！看到第五个我已经笑尿了[哈哈][哈哈][哈哈]</string>
				<key>user</key>
				<dict>
					<key>idstr</key>
					<string>3238094084</string>
					<key>mbrank</key>
					<integer>1</integer>
					<key>mbtype</key>
					<integer>2</integer>
					<key>name</key>
					<string>热门搞笑总排行</string>
					<key>profile_image_url</key>
					<string>http://tp1.sinaimg.cn/3238094084/50/22883952798/0</string>
					<key>verified_type</key>
					<integer>200</integer>
					<key>vip</key>
					<integer>0</integer>
				</dict>
			</dict>
			<key>source</key>
			<string>来自微博 weibo.com</string>
			<key>text</key>
			<string>转发微博</string>
			<key>user</key>
			<dict>
				<key>idstr</key>
				<string>3238094084</string>
				<key>mbrank</key>
				<integer>1</integer>
				<key>mbtype</key>
				<integer>2</integer>
				<key>name</key>
				<string>热门搞笑总排行</string>
				<key>profile_image_url</key>
				<string>http://tp1.sinaimg.cn/3238094084/50/22883952798/0</string>
				<key>verified_type</key>
				<integer>200</integer>
				<key>vip</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>attitudes_count</key>
			<integer>6</integer>
			<key>comments_count</key>
			<integer>5</integer>
			<key>created_at</key>
			<string>5分钟前</string>
			<key>idstr</key>
			<string>3767068467886471</string>
			<key>pic_urls</key>
			<array>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://ww1.sinaimg.cn/thumbnail/86a17422jw1elfey3z9ldj20fm0ag3zb.jpg</string>
				</dict>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://ww3.sinaimg.cn/thumbnail/86a17422jw1elfey44zrgj20fg0aewf5.jpg</string>
				</dict>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://ww2.sinaimg.cn/thumbnail/86a17422jw1elfey492mcj20f60ah0tg.jpg</string>
				</dict>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://ww3.sinaimg.cn/thumbnail/86a17422jw1elfey4d0v7j20fh0a8dgg.jpg</string>
				</dict>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://ww1.sinaimg.cn/thumbnail/86a17422jw1elfey4htvuj20f80a3jrr.jpg</string>
				</dict>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://ww1.sinaimg.cn/thumbnail/86a17422jw1elfey4ou44j20cz09fmxj.jpg</string>
				</dict>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://ww4.sinaimg.cn/thumbnail/86a17422jw1elfey4tuxbj20dc094jrq.jpg</string>
				</dict>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://ww3.sinaimg.cn/thumbnail/86a17422jw1elfey4ynhkj20dg08ojrm.jpg</string>
				</dict>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://ww3.sinaimg.cn/thumbnail/86a17422jw1elfey4vhdrj20d408dt8z.jpg</string>
				</dict>
			</array>
			<key>reposts_count</key>
			<integer>13</integer>
			<key>source</key>
			<string>来自微博 weibo.com</string>
			<key>text</key>
			<string>【网售超低价美瞳你敢买吗！产自黑窝点 成本仅几毛钱一副】美瞳网店仅售6块钱？月销售量达到了六万多片。记者调查：就算只卖几块钱都是暴利！很多消费者出现红血丝、发炎等症状。今年6月新规规定：商家如果没有“医疗器械经营许可证”禁售隐形眼镜。但现在看来，市场仍然混乱。@第一时间</string>
			<key>user</key>
			<dict>
				<key>idstr</key>
				<string>2258727970</string>
				<key>mbrank</key>
				<integer>0</integer>
				<key>mbtype</key>
				<integer>0</integer>
				<key>name</key>
				<string>央视财经</string>
				<key>profile_image_url</key>
				<string>http://tp3.sinaimg.cn/2258727970/50/5669630685/1</string>
				<key>verified_type</key>
				<integer>3</integer>
				<key>vip</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>attitudes_count</key>
			<integer>0</integer>
			<key>comments_count</key>
			<integer>2</integer>
			<key>created_at</key>
			<string>5分钟前</string>
			<key>idstr</key>
			<string>3767068463692074</string>
			<key>pic_urls</key>
			<array/>
			<key>reposts_count</key>
			<integer>2</integer>
			<key>retweeted_status</key>
			<dict>
				<key>attitudes_count</key>
				<integer>6</integer>
				<key>comments_count</key>
				<integer>3</integer>
				<key>created_at</key>
				<string>10分钟前</string>
				<key>idstr</key>
				<string>3767067088049679</string>
				<key>pic_urls</key>
				<array>
					<dict>
						<key>thumbnail_pic</key>
						<string>http://ww2.sinaimg.cn/thumbnail/49236e0fjw1elfeqkntwij20p018ggp1.jpg</string>
					</dict>
				</array>
				<key>reposts_count</key>
				<integer>4</integer>
				<key>source</key>
				<string>来自Android客户端</string>
				<key>text</key>
				<string>最后一盒蓝三五，当年三五可是自撸的象征，是吧@张老弛 ？</string>
				<key>user</key>
				<dict>
					<key>idstr</key>
					<string>1227058703</string>
					<key>mbrank</key>
					<integer>3</integer>
					<key>mbtype</key>
					<integer>12</integer>
					<key>name</key>
					<string>大仙</string>
					<key>profile_image_url</key>
					<string>http://tp4.sinaimg.cn/1227058703/50/5665166440/1</string>
					<key>verified_type</key>
					<integer>0</integer>
					<key>vip</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>source</key>
			<string>来自微博 weibo.com</string>
			<key>text</key>
			<string>回复@许多年s:一般自撸时，缓撸三下，急撸五下，三五的节奏 //@许多年s:为啥是自撸象征呀</string>
			<key>user</key>
			<dict>
				<key>idstr</key>
				<string>1227058703</string>
				<key>mbrank</key>
				<integer>3</integer>
				<key>mbtype</key>
				<integer>12</integer>
				<key>name</key>
				<string>大仙</string>
				<key>profile_image_url</key>
				<string>http://tp4.sinaimg.cn/1227058703/50/5665166440/1</string>
				<key>verified_type</key>
				<integer>0</integer>
				<key>vip</key>
				<integer>1</integer>
			</dict>
		</dict>
		<dict>
			<key>attitudes_count</key>
			<integer>3388</integer>
			<key>comments_count</key>
			<integer>853</integer>
			<key>created_at</key>
			<string>5分钟前</string>
			<key>idstr</key>
			<string>3767068455453832</string>
			<key>pic_urls</key>
			<array>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://ww3.sinaimg.cn/thumbnail/495a6d9ejw1elfen106c9j21s72o6e81.jpg</string>
				</dict>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://ww2.sinaimg.cn/thumbnail/495a6d9ejw1elfen3rtn4j211i1e0wvc.jpg</string>
				</dict>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://ww2.sinaimg.cn/thumbnail/495a6d9ejw1elfen5ivlgj211i1e0ncx.jpg</string>
				</dict>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://ww1.sinaimg.cn/thumbnail/495a6d9ejw1elfemxglb7j211i1e0h1h.jpg</string>
				</dict>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://ww4.sinaimg.cn/thumbnail/495a6d9ejw1elfen6re7kj211i1e0tqj.jpg</string>
				</dict>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://ww2.sinaimg.cn/thumbnail/495a6d9ejw1elfen84wnfj211i1e0qjn.jpg</string>
				</dict>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://ww4.sinaimg.cn/thumbnail/495a6d9ejw1elfen8pnihj20hs0vktby.jpg</string>
				</dict>
			</array>
			<key>reposts_count</key>
			<integer>361</integer>
			<key>source</key>
			<string>来自iPhone 6 Plus</string>
			<key>text</key>
			<string>You are my sunshine，Please don't take my sunshine away[太阳][音乐]</string>
			<key>user</key>
			<dict>
				<key>idstr</key>
				<string>1230663070</string>
				<key>mbrank</key>
				<integer>6</integer>
				<key>mbtype</key>
				<integer>12</integer>
				<key>name</key>
				<string>唐嫣</string>
				<key>profile_image_url</key>
				<string>http://tp3.sinaimg.cn/1230663070/50/5605258041/0</string>
				<key>verified_type</key>
				<integer>0</integer>
				<key>vip</key>
				<integer>1</integer>
			</dict>
		</dict>
		<dict>
			<key>attitudes_count</key>
			<integer>455</integer>
			<key>comments_count</key>
			<integer>190</integer>
			<key>created_at</key>
			<string>5分钟前</string>
			<key>idstr</key>
			<string>3767068446913358</string>
			<key>pic_urls</key>
			<array>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://ww1.sinaimg.cn/thumbnail/6628711bgw1elfdl5ps9uj20go0feab6.jpg</string>
				</dict>
			</array>
			<key>reposts_count</key>
			<integer>294</integer>
			<key>source</key>
			<string>来自微博 weibo.com</string>
			<key>text</key>
			<string>自称身高1米6的女孩，百分之百都是1米58；但是自称175的女生通常都不止175。自称170的男孩，百分之百都是168，介绍人称170的男孩，百分之百168都不到！[拜拜]</string>
			<key>user</key>
			<dict>
				<key>idstr</key>
				<string>1713926427</string>
				<key>mbrank</key>
				<integer>6</integer>
				<key>mbtype</key>
				<integer>12</integer>
				<key>name</key>
				<string>微博搞笑排行榜</string>
				<key>profile_image_url</key>
				<string>http://tp4.sinaimg.cn/1713926427/50/40000875722/0</string>
				<key>verified_type</key>
				<integer>-1</integer>
				<key>vip</key>
				<integer>1</integer>
			</dict>
		</dict>
		<dict>
			<key>attitudes_count</key>
			<integer>6</integer>
			<key>comments_count</key>
			<integer>0</integer>
			<key>created_at</key>
			<string>5分钟前</string>
			<key>idstr</key>
			<string>3767068430275573</string>
			<key>pic_urls</key>
			<array/>
			<key>reposts_count</key>
			<integer>5</integer>
			<key>retweeted_status</key>
			<dict>
				<key>attitudes_count</key>
				<integer>297</integer>
				<key>comments_count</key>
				<integer>17</integer>
				<key>created_at</key>
				<string>10-16 19:00</string>
				<key>idstr</key>
				<string>3766374914914551</string>
				<key>pic_urls</key>
				<array>
					<dict>
						<key>thumbnail_pic</key>
						<string>http://ww2.sinaimg.cn/thumbnail/c1016504jw1eld7aefstkj20c80e0wev.jpg</string>
					</dict>
					<dict>
						<key>thumbnail_pic</key>
						<string>http://ww4.sinaimg.cn/thumbnail/c1016504jw1eld7afrm26j20c80i474x.jpg</string>
					</dict>
					<dict>
						<key>thumbnail_pic</key>
						<string>http://ww2.sinaimg.cn/thumbnail/c1016504jw1eld7aghl4yj20c80ihwf3.jpg</string>
					</dict>
					<dict>
						<key>thumbnail_pic</key>
						<string>http://ww1.sinaimg.cn/thumbnail/c1016504jw1eld7ah9praj20c80atmxf.jpg</string>
					</dict>
					<dict>
						<key>thumbnail_pic</key>
						<string>http://ww2.sinaimg.cn/thumbnail/c1016504jw1eld7ail7dij20c80ekjrx.jpg</string>
					</dict>
					<dict>
						<key>thumbnail_pic</key>
						<string>http://ww4.sinaimg.cn/thumbnail/c1016504jw1eld7ajmga5j20c6075q35.jpg</string>
					</dict>
					<dict>
						<key>thumbnail_pic</key>
						<string>http://ww4.sinaimg.cn/thumbnail/c1016504jw1eld7alb6f3j208c27gwla.jpg</string>
					</dict>
					<dict>
						<key>thumbnail_pic</key>
						<string>http://ww4.sinaimg.cn/thumbnail/c1016504jw1eld7am1p7tj20c80jf759.jpg</string>
					</dict>
					<dict>
						<key>thumbnail_pic</key>
						<string>http://ww3.sinaimg.cn/thumbnail/c1016504jw1eld7an1koyj209p0drdhd.jpg</string>
					</dict>
				</array>
				<key>reposts_count</key>
				<integer>266</integer>
				<key>source</key>
				<string>来自皮皮时光机</string>
				<key>text</key>
				<string>那些坑爹的输入法引发的糗事，真是欢乐无穷哈哈哈[哈哈][哈哈]</string>
				<key>user</key>
				<dict>
					<key>idstr</key>
					<string>3238094084</string>
					<key>mbrank</key>
					<integer>1</integer>
					<key>mbtype</key>
					<integer>2</integer>
					<key>name</key>
					<string>热门搞笑总排行</string>
					<key>profile_image_url</key>
					<string>http://tp1.sinaimg.cn/3238094084/50/22883952798/0</string>
					<key>verified_type</key>
					<integer>200</integer>
					<key>vip</key>
					<integer>0</integer>
				</dict>
			</dict>
			<key>source</key>
			<string>来自皮皮时光机</string>
			<key>text</key>
			<string>[可爱] </string>
			<key>user</key>
			<dict>
				<key>idstr</key>
				<string>3238094084</string>
				<key>mbrank</key>
				<integer>1</integer>
				<key>mbtype</key>
				<integer>2</integer>
				<key>name</key>
				<string>热门搞笑总排行</string>
				<key>profile_image_url</key>
				<string>http://tp1.sinaimg.cn/3238094084/50/22883952798/0</string>
				<key>verified_type</key>
				<integer>200</integer>
				<key>vip</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>attitudes_count</key>
			<integer>0</integer>
			<key>comments_count</key>
			<integer>0</integer>
			<key>created_at</key>
			<string>5分钟前</string>
			<key>idstr</key>
			<string>3767068430275094</string>
			<key>pic_urls</key>
			<array/>
			<key>reposts_count</key>
			<integer>0</integer>
			<key>retweeted_status</key>
			<dict>
				<key>attitudes_count</key>
				<integer>211</integer>
				<key>comments_count</key>
				<integer>113</integer>
				<key>created_at</key>
				<string>02-25 15:00</string>
				<key>idstr</key>
				<string>3681878068423183</string>
				<key>pic_urls</key>
				<array>
					<dict>
						<key>thumbnail_pic</key>
						<string>http://ww2.sinaimg.cn/thumbnail/a526e80agw1edvhgdvobcj20c80i5q5j.jpg</string>
					</dict>
					<dict>
						<key>thumbnail_pic</key>
						<string>http://ww2.sinaimg.cn/thumbnail/a526e80agw1edvhgfp3lej20c80jgwhf.jpg</string>
					</dict>
					<dict>
						<key>thumbnail_pic</key>
						<string>http://ww3.sinaimg.cn/thumbnail/a526e80agw1edvhghb45aj20c80legov.jpg</string>
					</dict>
					<dict>
						<key>thumbnail_pic</key>
						<string>http://ww4.sinaimg.cn/thumbnail/a526e80agw1edvhgiwtw4j20c80jz0vr.jpg</string>
					</dict>
					<dict>
						<key>thumbnail_pic</key>
						<string>http://ww4.sinaimg.cn/thumbnail/a526e80agw1edvhgkfxzhj20c80of77i.jpg</string>
					</dict>
					<dict>
						<key>thumbnail_pic</key>
						<string>http://ww3.sinaimg.cn/thumbnail/a526e80agw1edvhgm500ij20c80hstb8.jpg</string>
					</dict>
					<dict>
						<key>thumbnail_pic</key>
						<string>http://ww2.sinaimg.cn/thumbnail/a526e80agw1edvhgoiv0oj20c80g9mzd.jpg</string>
					</dict>
					<dict>
						<key>thumbnail_pic</key>
						<string>http://ww2.sinaimg.cn/thumbnail/a526e80agw1edvhgqpv86j20c80nujuj.jpg</string>
					</dict>
				</array>
				<key>reposts_count</key>
				<integer>4816</integer>
				<key>source</key>
				<string>来自微博 weibo.com</string>
				<key>text</key>
				<string>【街坊走起 广州好食又抵食靓面店铺】广州面条对于老广来说，有着独特的情感，不仅源于其特有的南方凤味，还有蕴含着精湛的技艺。爱吃面食的小编经常穿越广州的大街小巷，发掘那些深入民心的老字号面食，才发现，牵绊着老广的不是那丝丝面条，而是充斥着街坊情怀的心。下面这些面店，希望大家喜欢：</string>
				<key>user</key>
				<dict>
					<key>idstr</key>
					<string>2770790410</string>
					<key>mbrank</key>
					<integer>4</integer>
					<key>mbtype</key>
					<integer>11</integer>
					<key>name</key>
					<string>吃货吃遍广州</string>
					<key>profile_image_url</key>
					<string>http://tp3.sinaimg.cn/2770790410/50/40010878208/0</string>
					<key>verified_type</key>
					<integer>-1</integer>
					<key>vip</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>source</key>
			<string>来自皮皮时光机</string>
			<key>text</key>
			<string>感谢吃货姐整理的攻略，还想知道广州有什么美食吗？这个主页君的博你必须看下~</string>
			<key>user</key>
			<dict>
				<key>idstr</key>
				<string>2244250502</string>
				<key>mbrank</key>
				<integer>5</integer>
				<key>mbtype</key>
				<integer>2</integer>
				<key>name</key>
				<string>最最搞笑精选</string>
				<key>profile_image_url</key>
				<string>http://tp3.sinaimg.cn/2244250502/50/5625405769/0</string>
				<key>verified_type</key>
				<integer>-1</integer>
				<key>vip</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>attitudes_count</key>
			<integer>0</integer>
			<key>comments_count</key>
			<integer>0</integer>
			<key>created_at</key>
			<string>5分钟前</string>
			<key>idstr</key>
			<string>3767068342374257</string>
			<key>pic_urls</key>
			<array>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://ww4.sinaimg.cn/thumbnail/bab5d7f3jw1elfexnae5aj209q0dbq3a.jpg</string>
				</dict>
			</array>
			<key>reposts_count</key>
			<integer>0</integer>
			<key>source</key>
			<string>来自vivo_Xplay</string>
			<key>text</key>
			<string>有一天，妻不在家吃晚饭，7岁女儿坐在妻的位置上，假扮妈妈。我看着她的神态举止，不禁失笑。儿子对她以妈妈自居，很不服气。他不客气地说：“你自以为今天是妈妈吗？你知道99乘5是多少？”女儿不慌不忙，毫不犹豫地回答：“孩子，我没空，问你爸爸。”</string>
			<key>user</key>
			<dict>
				<key>idstr</key>
				<string>3132479475</string>
				<key>mbrank</key>
				<integer>0</integer>
				<key>mbtype</key>
				<integer>0</integer>
				<key>name</key>
				<string>超级神评论</string>
				<key>profile_image_url</key>
				<string>http://tp4.sinaimg.cn/3132479475/50/5697113019/0</string>
				<key>verified_type</key>
				<integer>220</integer>
				<key>vip</key>
				<integer>0</integer>
			</dict>
		</dict>
	</array>
	<key>total_number</key>
	<integer>1605</integer>
</dict>
</plist>
